
<section class="ftco-section" style="margin-top:50px;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">@ViewBag.Error @TempData["Success"] @TempData["Info"]</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
						<div class="text w-100">
							<h2>Giriş Yap</h2>
							<p style="color:white">Hesabınız yok mu ?</p>
							<a asp-controller="Login" asp-action="Register" class="btn btn-white btn-outline-white">Kayıt Olun</a>
						</div>
					</div>
					<div class="login-wrap p-4 p-lg-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">Giriş Yap</h3>
							</div>

						</div>
						<form asp-controller="Login" asp-action="Login" class="signin-form">
							<div class="form-group mb-3">
								<label class="label" for="name">Email Adresi</label>
								<input type="text" class="form-control" placeholder="Email" name="username" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Şifre</label>
								<input type="password" class="form-control" placeholder="Şifre" id="id_password" name="password" required>
								<i class="fa fa-eye" id="togglePassword" style="position:absolute;top:60%;right:4% ; cursor: pointer;"></i>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Oturum Aç</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50 text-left">
									<label class="checkbox-wrap checkbox-primary mb-0">
										Beni Hatırla
										<input type="checkbox" checked value="true" name="rememberMe">
										<span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a asp-controller="Login" asp-action="ForgotPassword">Şifremi Unuttum</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#id_password');

  togglePassword.addEventListener('click', function (e) {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    this.classList.toggle('fa-eye-slash');
});
</script>