@using AlVer.ViewModel;

@model ResetPasswordViewModel

<section class="ftco-section" style="margin-top:50px;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">@ViewBag.Error</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
						<div class="text w-100">
							<h2>Şifre Yenile</h2>
							<p style="color:white">Şifrenizi hatırladınız mı?</p>
							<a asp-controller="Login" asp-action="Login" class="btn btn-white btn-outline-white">Giriş Yapın</a>
						</div>
					</div>
					<div class="login-wrap p-4 p-lg-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">Yeni Şifre Belirle</h3>
							</div>

						</div>
						<form asp-controller="Login" asp-action="ResetPassword" class="signin-form">
							<div asp-validation-summary="All" class="text-danger"></div>
							<input type="hidden" value="@Model.Token" name="Token">
							<input type="hidden" value="@Model.Email" name="Email">
							<div class="form-group mb-3">
								<label class="label" for="password">Şifre</label>
								<input type="password" class="form-control" placeholder="Şifre" id="id_password" name="Password" required>
								<i class="fa fa-eye" id="togglePassword" style="position:absolute;top:60%;right:4% ; cursor: pointer;"></i>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Şifre Tekrar</label>
								<input type="password" class="form-control" placeholder="Şifre Tekrar" id="id_password_again" name="ConfirmPassword" required>
								<i class="fa fa-eye" id="togglePassword_again" style="position:absolute;top:60%;right:4% ; cursor: pointer;"></i>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Şifreyi Kaydet</button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	const togglePassword = document.querySelector('#togglePassword');
	const password = document.querySelector('#id_password');

	togglePassword.addEventListener('click', function (e) {
		const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
		password.setAttribute('type', type);
		this.classList.toggle('fa-eye-slash');
	});

	const togglePassword_again = document.querySelector('#togglePassword_again');
	const password_again = document.querySelector('#id_password_again');

	togglePassword_again.addEventListener('click', function (e) {
		const type = password_again.getAttribute('type') === 'password' ? 'text' : 'password';
		password_again.setAttribute('type', type);
		this.classList.toggle('fa-eye-slash');
	});

</script>



