<partial name="_PartialSidebar"></partial>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Şifre Değiştir</h2>
                    <div class="breadcrumb__option">
                        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                        <span>Şifre Değiştir</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="ftco-section" style="margin-left:600px;">
	<div class="container">
		<div class="row ">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">@ViewBag.Error @ViewBag.Digit @ViewBag.NotMatch</h2>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">


					<div class="login-wrap p-4 p-lg-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">Şifreni Değiştir</h3>
							</div>

						</div>
						<form asp-controller="Profile" asp-action="ChangePassword" class="signin-form">
							<div class="form-group mb-3">
								<label class="label" for="password">Eski Şifre</label>
								<input type="password" class="form-control" placeholder="Eski Şifre" id="id_oldpassword" name="oldPassword" required>
								<i class="fa fa-eye" id="toggleoldPassword" style="position:absolute;top:60%;right:4% ; cursor: pointer;"></i>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Yeni Şifre</label>
								<input type="password" class="form-control" placeholder="Yeni Şifre" id="id_password" name="newPassword" required>
								<i class="fa fa-eye" id="togglePassword" style="position:absolute;top:60%;right:4% ; cursor: pointer;"></i>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Yeni Şifre Tekrar</label>
								<input type="password" class="form-control" placeholder="Şifre Tekrar" id="id_password_again" name="passwordAgain" required>
								<i class="fa fa-eye" id="togglePassword_again" style="position:absolute;top:60%;right:4% ; cursor: pointer;"></i>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Şifreyi Değiştir</button>
							</div>

						</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	const toggleoldPassword = document.querySelector('#toggleoldPassword');
	const oldpassword = document.querySelector('#id_oldpassword');

	toggleoldPassword.addEventListener('click', function (e) {
		const type = oldpassword.getAttribute('type') === 'password' ? 'text' : 'password';
		oldpassword.setAttribute('type', type);
		this.classList.toggle('fa-eye-slash');
	});

	const togglePassword = document.querySelector('#togglePassword');
	const password = document.querySelector('#id_password');

	togglePassword.addEventListener('click', function (e) {
		const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
		password.setAttribute('type', type);
		this.classList.toggle('fa-eye-slash');
	});

	const togglePassword_again = document.querySelector('#togglePassword_again');
	const password_again = document.querySelector('#id_password_again');

	togglePassword_again.addEventListener('click', function (e) {
		const type = password_again.getAttribute('type') === 'password' ? 'text' : 'password';
		password_again.setAttribute('type', type);
		this.classList.toggle('fa-eye-slash');
	});

</script>