<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AlVer Market</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/navbarstyle.css" type="text/css">
    <link rel="stylesheet" href="/css/loginstyle.css" type="text/css">
    <link rel="stylesheet" href="/css/sidebarstyle.css" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <partial name="_PartialNavbar">

        @RenderBody()

        <partial name="_PartialFooter">
            @RenderSection("modal",false)
            <!-- Js Plugins -->
            <script src="/js/jquery-3.3.1.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/jquery.nice-select.min.js"></script>
            <script src="/js/jquery-ui.min.js"></script>
            <script src="/js/jquery.slicknav.js"></script>
            <script src="/js/jquery.sticky.js"></script>
            <script src="/js/mixitup.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/sidebarscript.js"></script>
            @RenderSection("scripts",false)
            @RenderSection("validation",false)
</body>

</html>