@{
    Layout = "_LayoutAdmin";
}

<div class="col-sm-12 col-xl-11" style="margin-left:50px;margin-top:50px;">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Ürün Ekle</h6>
        <form asp-controller="Admin" asp-action="AddProduct" method="post" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="Name" required>
            <label for="name">Ürün Adı</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-select" id="category" name="CategoryId" aria-label="Floating label select example" required>
                <option selected>Kategori Seçiniz</option>
                @foreach (Category item in ViewBag.Category as List<Category>)
                {
                    <option value="@item.CategoryId">@item.CategoryName</option>
                }

            </select>
            <label for="category">Kategori</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="stock" name="Stock" required>
            <label for="stock">Stok</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="price" name="Price" required>
            <label for="price">Fiyat</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="description" style="height:150px;" name="Description" required></textarea>
                <label for="description">Açıklama</label>
            </div>
            <div class="mb-3">
                <label for="photo1" class="form-label">1. Resim (Zorunlu)</label>
                <input class="form-control form-control-sm bg-dark" id="photo1" type="file" name="photo">
            </div>
            <div class="mb-3">
                <label for="photo2" class="form-label">2. Resim</label>
                <input class="form-control form-control-sm bg-dark" id="photo2" type="file" name="photo2">
            </div>
            <div class="mb-3">
                <label for="photo3" class="form-label">3. Resim</label>
                <input class="form-control form-control-sm bg-dark" id="photo3" type="file" name="photo3">
            </div>
            <div class="mb-3">
                <label for="photo4" class="form-label">4. Resim</label>
                <input class="form-control form-control-sm bg-dark" id="photo4" type="file" name="photo4">
            </div>
            <div class="mb-3">
                <label for="photo5" class="form-label">5. Resim</label>
                <input class="form-control form-control-sm bg-dark" id="photo5" type="file" name="photo5">
            </div>

            <div class="row" style="margin-top:40px;margin-bottom:20px;">
                <button class="btn btn-primary rounded-pill col-9" style="margin-top:40px;margin-left:150px;">Ekle</button>
            </div>
        </form>
    </div>
</div>
