@{
    Layout = "_LayoutAdmin";
}
@model Message
<div class="col-sm-12 col-xl-11" style="margin-left:50px;margin-top:50px;">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Mesaj Detayları</h6>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput"
                   value="@Model.Email" disabled>
            <label for="floatingInput">Email Adresi</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName"
                   value="@Model.Name" disabled>
            <label for="floatingName">Ad - Soyad</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea" style="height:150px;" disabled>@Model.MessageBody</textarea>
            <label for="floatingTextarea">Mesaj</label>
        </div>
        <div class="row" style="margin-top:40px;margin-bottom:20px;">
            <a class="btn btn-info rounded-pill col-5" href="mailto:@Model.Email" style="margin-left:120px;">Mail At</a>
            <a class="btn btn-danger rounded-pill col-5" asp-controller="Admin" asp-action="DeleteMessage" asp-route-id="@Model.MessageId" style="margin-left:30px;">Sil</a>
        </div>

    </div>
</div>
